.btn {
    padding: 8px;
    margin: 8px;
    border: 1px solid #000000;
    border-radius: 16px;
    background-color: #fff;
    color: #000000;
}

.btn:hover {
    cursor: pointer;
    background-color: #adff2f;
}

